@charset "utf-8";
/* CSS Document */

table {
	background-color: #3F9;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

}
body {
	background-color: #3F9;
}
